{%extends 'base.html'%} {%load static%} {%block container%}

<div class="main ts-contain cf right-sidebar">
  <div class="ts-row">
    <div class="col-8 main-content">
      {% if author.post_set.all %}
        {% with author.post_set.first as first_post %}
          <h1 class="archive-heading">
            Yazar: <span>{{ first_post.creator }}</span>
          </h1>
          <div class="archive-author-box">
            <section class="author-info">
              <img
                data-del="avatar"
                src="{{ first_post.author.profile_picture.url }}"
                class="avatar pp-user-avatar avatar-95 photo"
                height="95"
                width="95"
              />
              <div class="description">
                <a
                  href="{% url 'author:author_detail' slug=first_post.author.slug %}"                  
                  title="{{ first_post.creator }} tarafından yazılan yazılar"
                  rel="author"
                  >{{ first_post.creator }}</a
                >
                <ul class="social-icons">
                  <li>
                    <a
                      href="{{ author.yazarin_twitter_x_adresi_linki }}"
                      target="_blank"
                      class="icon tsi tsi-twitter"
                      title="X (Twitter)"
                    >
                      <span class="visuallyhidden">X (Twitter)</span>
                    </a>
                  </li>
                  <li>
                    <a
                      href="{{ author.yazarin_instagram_adresi_linki }}"
                      target="_blank"
                      class="icon tsi tsi-instagram"
                      title="Instagram"
                    >
                      <span class="visuallyhidden">Instagram</span>
                    </a>
                  </li>
                  <li>
                    <a
                      href="{{ author.yazarin_linkedin_adresi_linki }}"
                      target="_blank"
                      class="icon tsi tsi-linkedin"
                      title="LinkedIn"
                    >
                      <span class="visuallyhidden">LinkedIn</span>
                    </a>
                  </li>
                </ul>
                <p class="bio">{{ first_post.author.bio }}</p>
              </div>
            </section>
          </div>
        {% endwith %}
      {% endif %}

            <section class="block-wrap block-large mb-none" data-id="1">
              <div class="block-content">
                <div
                  class="loop loop-grid loop-grid-base grid grid-1 md:grid-1 xs:grid-1"
                >
                  {% for post in author.post_set.all|slice:'6' %}
                  <article class="l-post grid-post grid-base-post">
                    <div class="media">{% if post.haber_baslik_resmi %}
                      <a
                        href="{%url 'post:post_detail' slug=post.slug%}"
                        class="image-link media-ratio ar-bunyad-main-full"
                        title="{{ post.title }}"
                        ><span
                          data-bgsrc="{{ post.haber_baslik_resmi.url }}"
                          class="img bg-cover wp-post-image attachment-large size-large lazyload"
                          role="img"
                          aria-label="{{ post.slug }}"
                        ></span
                      ></a>{%endif%}
                    </div>

                    <div class="content">
                      <div class="post-meta post-meta-a has-below">
                        <div class="post-meta-items meta-above">
                          <span class="meta-item post-cat">
                            <a
                              href="{% url 'category_detail' slug=post.category.slug %}"
                              class="category term-color-546"
                              rel="category"
                              >{{ post.category.name }}</a
                            >
                          </span>
                        </div>
                        <h2 class="is-title post-title">
                          <a
                            href="{%url 'post:post_detail' slug=post.slug%}" 
                            >{{ post.title }}</a
                          >
                        </h2>
                        <div class="post-meta-items meta-below">
                          <span class="meta-item post-author"
                            ><span class="by">Yazar:</span>
                            <a
                              href="{% url 'author:author_detail' slug=post.author.slug %}"
                              title="{{ post.creator }} tarafından yazılan yazılar"
                              rel="author"
                              >{{ post.creator }}</a
                            ></span
                          >
                          <span class="meta-item date"
                            ><span class="date-link"
                              ><time
                                class="post-date"
                                datetime="{{post.updated_at|date:"d F Y" }}"
                                >{{post.updated_at|date:"d F Y" }}</time
                              ></span
                            ></span
                          >
                        </div>
                      </div>

                      <div class="excerpt">
                        {% if post.content %}
                            <p>{{ post.content|striptags|truncatewords:120|safe }}</p>
                        {% endif %} 
                      </div>

                      <a
                        href="{%url 'post:post_detail' slug=post.slug%}"
                        class="read-more-link read-more-btn ts-button ts-button-alt"
                      >
                        Devamını oku
                      </a>
                    </div>
                  </article>
                {%endfor%}
                </div>

              <!-- Add pagination after the loop -->
              <nav class="main-pagination pagination-numbers" data-type="numbers-ajax">{% if posts.has_previous %}
                <a class="page-numbers" href="?page=1" aria-label="İlk">
                    1
                </a>
                <a class="page-numbers" href="?page={{ posts.previous_page_number }}" aria-label="Önceki">
                    {{ posts.previous_page_number }}
                </a>{% endif %}<span aria-current="page" class="page-numbers current">{{ posts.number }}</span>{% if posts.has_next %}
                <a class="page-numbers" href="?page={{ posts.next_page_number }}" aria-label="Sonraki">
                    {{ posts.next_page_number }}
                </a>
                  <!-- Include the dots if there are multiple pages -->
                  {% if posts.paginator.num_pages > 3 and posts.number > 1 %}
                      <span class="page-numbers dots">&hellip;</span>
                  {% endif %}
                <a class="page-numbers" href="?page={{ posts.paginator.num_pages }}" aria-label="Son">
                    {{ posts.paginator.num_pages }}
                </a>
                <a class="next page-numbers" href="?page={{ posts.next_page_number }}">
                <span class="visuallyhidden">Next</span>
                <i class="tsi tsi-angle-right"></i></a>
              </nav>{% endif %}


              </div>
            </section>
          </div>
            
          <aside class="col-4 main-sidebar has-sep">
            <div class="inner">
              <div
                id="smartmag-block-posts-small-5"
                class="widget ts-block-widget smartmag-widget-posts-small"
              >
                <div class="block">
                  <section
                    class="block-wrap block-posts-small block-sc mb-none"
                    data-id="2"
                  >
                    <div
                      class="widget-title block-head block-head-ac block-head block-head-ac block-head-e block-head-e2 is-left has-style"
                    >
                      <h5 class="heading">Girişimcilik Gündemi</h5>
                      {% for post in girisimcilik_posts.all|slice:":10" %}
                      
                    </div>
                    <div class="block-content">
                      <div
                        class="loop loop-small loop-small-a loop-sep loop-small-sep grid grid-1 md:grid-1 sm:grid-1 xs:grid-1"
                      >
                        <article
                          class="l-post small-post small-a-post m-pos-left"
                        >
                          <div class="media">
                            {% if post.haber_baslik_resmi %}
                            <a
                              href="{% url 'post:post_detail' slug=post.slug %}"
                              class="image-link media-ratio ar-bunyad-thumb"
                              title="{{ girisimcilik_posts.title }}"
                              ><span
                                data-bgsrc="{{ post.haber_baslik_resmi.url }}"
                                class="img bg-cover wp-post-image attachment-medium size-medium lazyload"
                                data-bgset="{{ post.haber_baslik_resmi.url }}"
                                data-sizes="(max-width: 110px) 100vw, 110px"
                                
                              ></span
                            ></a>{% endif %}
                          </div>

                          <div class="content">
                            <div
                              class="post-meta post-meta-a post-meta-left has-below"
                            >
                              <h4 class="is-title post-title">
                                <a href="{% url 'post:post_detail' slug=post.slug %}">{{ post.title }}</a
                                >
                              </h4>
                              <div class="post-meta-items meta-below">
                                <span class="meta-item date"
                                  ><span class="date-link"
                                    ><time
                                      class="post-date"
                                      datetime="{{post.post_date|date:"d F Y"}}"
                                      >{{post.post_date|date:"d F Y"}}</time
                                    ></span
                                  ></span
                                >
                              </div>
                            </div>
                          </div>
                        </article>
                        <br>
                        {% endfor %}
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>


{%endblock container%}
