{%load static%}
{% include 'advertisement/advertisement_sidebar.html' %}

        <div id="content" class="app-content" role="main">
          <!-- This is just for ajax, you can remove it in production -->
          <div class="hide">
            <div class="content-header" id="content-header"></div>
          </div>

          <!-- Main -->
          <div class="content-main" id="content-main">
            <div class="padding box-shadow-1 box-radius-1">
              <!-- Content -->

              <form
                method="POST"
                action="#order"
                accept-charset="UTF-8"
                class="form-style form-payment"
                autocomplete="false"
                autofill="off"
              >
                <input
                  name="_token"
                  type="hidden"
                  value="zaHl9lxHdfUxWUBvBVaZFvFF0SzTUOpLLuxeVrXx"
                />
                <div class="row">
                  <div class="col-md-5">
                    <div class="box">
                      <div class="box-header">
                        <h2>Fatura Adresiniz</h2>
                      </div>
                      <div class="box-divider"></div>
                      <div class="box-body">
                        <input
                          id="invoice_type"
                          name="invoice_type"
                          type="hidden"
                          value="personal"
                        />

                        <div class="row bottom-10">
                          <div
                            class="col-md-12 invoice-form show-address-list invoice-form-personal"
                          >
                            <div class="address-headline">
                              <div class="row">
                                <div class="col-md-12 text-left">
                                  <ul class="invoice-choice">
                                    <li
                                      data-invoice="personal"
                                      class="invoice-choice-personal"
                                    >
                                      Bireysel
                                    </li>
                                    <li
                                      data-invoice="company"
                                      class="invoice-choice-company"
                                    >
                                      Kurumsal
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                            <input
                              type="hidden"
                              name="selected_address"
                              id="selected_address"
                              value="2900"
                            />
                            <div class="address-list">
                              <div
                                class="address-box box box-shadow-2 selected-address"
                                id="address_box_2900"
                              >
                                <div class="box-body">
                                  <div class="row">
                                    <div class="address-item col-md-4">
                                      Ad Soyad:
                                    </div>
                                    <div class="address-item col-md-8">
                                      Hjghgj Ygyugyu
                                    </div>
                                    <div class="address-item col-md-4">
                                      TC Kimlik No:
                                    </div>
                                    <div class="address-item col-md-8">
                                      45465765667
                                    </div>
                                    <div class="address-item col-md-4">
                                      Telefon:
                                    </div>
                                    <div class="address-item col-md-8">
                                      (578) 767 8686
                                    </div>
                                    <div class="address-item col-md-10">
                                      Tygyu
                                    </div>
                                    <div
                                      class="col-md-6 d-flex gap-3 text-right address-control"
                                    >
                                      <button>
                                        <a
                                          class="text-white"
                                          href="#delete/2900"
                                          onclick="return confirm('Seçtiğiniz adres silinecektir. Emin misiniz?');"
                                          >Adresi Sil</a
                                        >
                                      </button>

                                      <button>
                                        <a
                                          class="text-white"
                                          href="./adres-kayıt.html"
                                          >Adresi Düzenle</a
                                        >
                                      </button>
                                    </div>
                                  </div>
                                  <button type="button" class="text-white">
                                    Bu Adresi Kullan
                                  </button>
                                </div>
                              </div>
                              <div class="add-new-address">
                                <a
                                  href="./fatura.html"
                                  id="addNewAddressBtn"
                                  ><i class="fa fa-plus-square"></i> Yeni Adres
                                  Ekle</a
                                >
                              </div>
                            </div>

                            <div class="address-new">
                              <div class="box">
                                <div class="box-body box-shadow-2">
                                  <div style="margin-bottom: 15px">
                                    <a
                                      href="javascript:void(0);"
                                      style="color: #333"
                                      id="showAddressBtn"
                                      ><i class="fa fa-caret-down"></i>
                                      Adreslerimi Göster</a
                                    >
                                  </div>

                                  <input
                                    type="hidden"
                                    name="add_address"
                                    id="add_address"
                                    value="0"
                                  />

                                  <div
                                    class="address-save"
                                    style="margin-bottom: 15px"
                                  >
                                    <label class="md-check">
                                      <input
                                        type="checkbox"
                                        id="saveAddressCheckbox"
                                        name="save_address"
                                        value="1"
                                      />
                                      <i class="indigo"></i>
                                      <span class="checkbox-label"
                                        >bu fatura adresini sonraki siparişlerim
                                        için kaydet</span
                                      >
                                    </label>
                                  </div>

                                  <div
                                    class="row address-save-group"
                                    id="saveAddressInput"
                                    style="display: none"
                                  >
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label for="address_title"
                                          >Adres Başlığı</label
                                        >
                                        <input
                                          class="form-control"
                                          maxlength="100"
                                          name="address_title"
                                          type="text"
                                        />
                                      </div>
                                    </div>
                                  </div>

                                  <div class="form-budget invoice-personal">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="first_name">Ad</label>
                                          <input
                                            class="form-control to-ucwords"
                                            maxlength="150"
                                            name="personal[first_name]"
                                            type="text"
                                            id="first_name"
                                          />
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="last_name">Soyad</label>
                                          <input
                                            class="form-control to-ucwords"
                                            maxlength="150"
                                            name="personal[last_name]"
                                            type="text"
                                            id="last_name"
                                          />
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="personal_telephone"
                                            >Telefon</label
                                          >
                                          <input
                                            class="form-control phone-mask"
                                            maxlength="20"
                                            name="personal[telephone]"
                                            type="text"
                                          />
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="citizen_id"
                                            >TC Kimlik No</label
                                          >
                                          <input
                                            class="form-control citizen-mask"
                                            maxlength="15"
                                            name="personal[citizen_id]"
                                            type="text"
                                            id="citizen_id"
                                          />
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group">
                                          <label for="personal_address"
                                            >Adres</label
                                          >
                                          <textarea
                                            class="form-control to-ucfirst"
                                            name="personal[address]"
                                            cols="50"
                                            rows="10"
                                          ></textarea>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="form-budget invoice-company">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group">
                                          <label for="company_name"
                                            >Şirket Unvanı</label
                                          >
                                          <input
                                            class="form-control to-ucwords"
                                            maxlength="250"
                                            name="company[name]"
                                            type="text"
                                            id="company_name"
                                          />
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="company_telephone"
                                            >Telefon</label
                                          >
                                          <input
                                            class="form-control phone-mask"
                                            maxlength="150"
                                            name="company[telephone]"
                                            type="text"
                                          />
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="company_tax_place"
                                            >Vergi Dairesi</label
                                          >
                                          <input
                                            class="form-control to-ucwords"
                                            maxlength="150"
                                            name="company[tax_place]"
                                            type="text"
                                          />
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="company_tax_id"
                                            >Vergi No</label
                                          >
                                          <input
                                            class="form-control tax-mask"
                                            maxlength="150"
                                            name="company[tax_id]"
                                            type="text"
                                          />
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group">
                                          <label for="company_address"
                                            >Adres</label
                                          >
                                          <textarea
                                            class="form-control to-ucfirst"
                                            name="company[address]"
                                            cols="50"
                                            rows="10"
                                          ></textarea>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="box">
                      <div class="box-header">
                        <h2>Bakiye Yükle</h2>
                      </div>
                      <div class="box-divider"></div>
                      <div class="box-body">
                        <div class="row margin-bottom-twentyfive">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Yüklenecek Bakiye Tutarı</label>
                              <div class="input-group">
                                <input
                                  type="text"
                                  class="form-control input-lg"
                                  id="balance_amount"
                                  data-tax="20.00"
                                  required
                                  name="balance_amount"
                                  value="0"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <label>Ödeme yapılacak tutar</label>
                            <div class="payment-explain">
                              <span class="balance-money-box balance-with-tax"
                                ><span class="balance-money"
                                  ><strong>0.00</strong> ₺</span
                                ></span
                              >
                              (+ %20 Kdv
                              <span class="balance-money-box balance-tax"
                                ><span class="balance-money"
                                  ><strong>0.00</strong>₺</span
                                ></span
                              >)
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Kart Numarası</label>
                              <input
                                type="text"
                                class="form-control credit-card-no"
                                maxlength="50"
                                name="cc_number"
                                autocomplete="off"
                              />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Kart Sahibi</label>
                              <input
                                type="text"
                                class="form-control to-ucwords"
                                maxlength="250"
                                name="cc_owner"
                                autocomplete="off"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Son Kullanma Tarihi</label>
                              <div class="row">
                                <div class="col-md-6">
                                  <select
                                    class="form-control"
                                    name="cc_expire_month"
                                  >
                                    <option value="" selected>Ay</option>
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                  </select>
                                </div>
                                <div class="col-md-6">
                                  <select
                                    class="form-control"
                                    name="cc_expire_year"
                                  >
                                    <option value="" selected>Yıl</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                    <option value="2029">2029</option>
                                    <option value="2030">2030</option>
                                    <option value="2031">2031</option>
                                    <option value="2032">2032</option>
                                    <option value="2033">2033</option>
                                    <option value="2034">2034</option>
                                    <option value="2035">2035</option>
                                    <option value="2036">2036</option>
                                    <option value="2037">2037</option>
                                    <option value="2038">2038</option>
                                    <option value="2039">2039</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Güvenlik Kodu</label>
                              <div class="row">
                                <div class="col-md-6">
                                  <input
                                    type="password"
                                    class="form-control"
                                    maxlength="5"
                                    name="cc_cvc"
                                    autocomplete="off"
                                  />
                                </div>
                                <div class="col-md-6 cvc-helper"></div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div style="margin-bottom: 25px">
                          <br />
                          <label class="md-check">
                            <input
                              type="checkbox"
                              name="order_agreement"
                              value="1"
                            />
                            <i class="indigo"></i>
                            <span class="checkbox-label">
                              Bu ödeme üye olurken onaylamış olduğunuz
                              <a
                                href="./kvkk.html"
                                data-remote="./kvkk.html"
                                data-toggle="ajaxModal"
                                class="text-color-default"
                                >Kullanıcı Sözleşmesi</a
                              >
                              şartlarına tabidir.
                            </span>
                          </label>
                        </div>

                        <div>
                          <button type="submit" class="text-white">
                            Bakiyeyi Yükle
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>

              <!-- Content End -->
            </div>

            <!-- Footer -->
            <!-- Footer End -->
          </div>
          <!-- ############ Main END-->
        </div>
      </div>
    </div>
    <script src="{% static 'post/app.js'%}"></script>
    <script src="{% static 'post/jquery.min.js'%}"></script>
    <script src="{% static 'post/jquery.mask.js'%}"></script>
    <script src="{% static 'post/scripts.js'%}"></script>
    <script src="{% static 'post/bootstrap.min.js'%}"></script>
    <script src="{% static 'post/jquery.creditCardValidator.js'%}"></script>
  </body>
</html>
