{% extends 'base.html' %} {% load static %}
{% block title %}Page Title{% endblock title %}
{% block description %}Page Description{% endblock description %}
{% block og_title %}OpenGraph Title{% endblock og_title %}
{% block og_description %}OpenGraph Description{% endblock og_description %}
{% block og_image %}URL to OpenGraph Image{% endblock og_image %}
{% block og_url %}URL to OpenGraph Page{% endblock og_url %}
{% block container %}


<form method="post" action="{% url 'anket_olustur' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Anket Oluştur</button>
</form>
{% endblock %}


