{% extends 'base.html' %} {% load static %} {% block container %}
<link rel="stylesheet" href="{% static 'post/navbar_top_style.css' %}" />
    <section class="container">
      <h1>StartupTeknoloji Künye</h1>
      <p><strong>Kurucu</strong><br />İsa Uysal</p>
      <p><strong>Managing Partner</strong><br />İlker Elal – Hande Kaya</p>
      <p><strong>Genel Yayın Yönetmeni</strong><br />Enes Emre Kılınç</p>
      <p><strong>Yayın Uzmanı</strong><br />Hasan Aras</p>
      <p><strong>Girişimci İlişkileri Uzmanı</strong><br />Merve Mutlu</p>
      <p><strong>Editör</strong><br />Ayşin Demirer</p>
      <p><strong>Yer Sağlayıcı</strong><br />Güzel Hosting A.Ş.</p>
      <p>
        <strong>Ofis Adres</strong><br />Esentepe mh. Ecza sokağı. no:4/48
        Şişli/İstanbul
      </p>
    </section>
 {%endblock%}
