{% extends 'base.html' %} {% load static %} {% block container %}
<link rel="stylesheet" href="{% static 'post/navbar_top_style.css' %}" />

    <section>
      <h3>Reklam ve Sponsorluk</h3>
      <p>
        StartupTeknoloji; Girişimcilik ve Teknoloji odaklı yeni medya
        girişimidir. Haber ve video içerikleri üretir. Ana iletişim kanalını
        internet sitesi ve instagram olarak belirlemiştir. Toplamda 50 kişilik
        ekibiyle her mecra için içerikler üretir, dijitalde güzel işlerin altına
        imzasını atar. StartupTeknoloji’nin içerikleri, hem tüketicinin hızlı
        bilgi alma ihtiyacını karşılar hem de orijinal içerik formatlarıyla
        ekosisteme değer katar. StartupTeknoloji ile aşağıdaki mecralarda reklam
        iletişimi gerçekleştirebilirsiniz.
      </p>

      <form action="">
        <p>* işareti olan alanlar zorunludur</p>

        <label for="name">İsim-Soyisim *</label>
        <input type="text" id="name" name="name" />
        <label for="phone">Telefon *</label>
        <input type="tel" id="phone" name="phone" />
        <label for="email">E-posta *</label>
        <input type="email" id="email" name="email" />
        <label for="message">Mesaj *</label>
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
        <button type="submit">Gönder</button>
      </form>
    </section>
{%endblock%}
